{{> jumbotron}}

<!-- House Display -->
<div class="text-left" id="house-details">
</div>
<!-- /.row -->

{{#extend "scripts-block"}}
<script type="application/javascript" charset="utf-8" src="js/house.js"></script>
<script type="application/javascript" charset="utf-8" src="js/dbhelper.js"></script>
{{/extend}}